body, h1, p {
  margin: 0;
  padding: 0;
}
main{
  background-color: #ecfdfb;
}
:root {
  scroll-padding-top: 80px;
}

.happy{
  width: 1100px;
  margin: 50px auto;
  border:solid 1px gray;
  overflow: hidden; 
}
.bdcard{
  width: 300px;
  float:left; 
  padding: 20px 20px 20px 20px;
}
.bdcard img{
  display: block;
  width:100%;
}
.bdtext{
  float: left; 
  width: 700px;
  padding: 20px 20px 0px 0px;
}

.wikitable {

  border: 1px solid black;
  border-collapse: collapse;
}
.wikitable td {
  background-color: white;
  border: 1px black solid;
  padding: 5px 10px;
}
.wikitable th {
  background-color: rgb(243, 243, 243);
  border: 1px black solid;
  padding: 5px 10px;
}
.wikitable th img{
  vertical-align:middle;
}

a{
  color: #3366cc;
  text-decoration: none;
  
}
a:hover {
  text-decoration: underline;
}
a:visited{
  color: #3366cc;
}


header{
background-color: rgba(68, 0, 194, 0.95);
height: 70px;
width: 100%;


}
header h1{
/*  position: absolute;
  left: 70px;
  top:0;
  line-height:80px;
  background-image: url(./img/Dragon_Ball_Z_logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 240px;*/
 text-indent: -9100px;
}

.logor img {
  padding-left: 16px;
  padding-top: 10px;
  max-height: 50px;

}
/*.news {
  background-color: antiquewhite;
  color:white;
  height:900px;
  background-image: url("./img/igoku.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
 * border-left: black solid 80px;
  border-right: black solid 80px;
  border-top: black solid 80px;*
} 
.news h2 {
  font-size:60px;
  margin-top:60px;
} 
.news p {
  color:#FEF7E6;
  font-size:18px;
  margin:25px 0;
  font-weight:bold;
}
.news a {
  color:white;
  text-decoration: none;
  border: 1px solid #ACACAC;
  font-weight:bold;
  padding:10px 20px;
  border-radius: 5px;
}

.news a:hover{
  text-decoration:underline;
}
.news h2 a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline; 
}
*/
.navigation {
  background-color: #f9f9f9;
  display: flex;
  /* 水平置中 */
  /*justify-content: center;*/    
  /* 垂直置中 */
 /* align-items: center;      */
  
}
.pit1 img {
  position: absolute;
  padding: 0;
  margin: 0;

  max-height: 50px;
}

header ul {
  /* 取消ul預設的內縮及樣式 */
  margin: 0;
  padding: 0;
  list-style: none;
}

header ul{
  position: absolute;
  right: 5vw;
  top:16px;

}

ul.drop-down-menu {
  /*border: #ccc 1px solid;*/
  display:inline-block;
  
  font-size: 14px;
}



ul.drop-down-menu li {
  position: relative;
  white-space: nowrap;
  border-right: #ccc 1px solid;
 
 /*background-color: #f39f3e*/ /* 前四層背景色*/
 
}
ul.drop-down-menu li li{
  position: relative;
  white-space: nowrap;
  border-right: #ccc 1px solid;
  background-color:rgba(0, 38, 135, 0.95);
}

ul.drop-down-menu > li:last-child {
  border-right: none;
}

ul.drop-down-menu > li {
  float: left;
  /* 只有第一層是靠左對齊*/
}

ul.drop-down-menu a {
  /*background-color: #3f3f3f;*/
  /*background-color:#3a7ad4 ;*/
  color: #ffffff;
  display:block;
  text-decoration: none;
  padding: 0px 30px;
  line-height: 35px;
  
  
}

ul.drop-down-menu a:hover {
  /* 滑鼠滑入按鈕變色*/
  background-color: #ff1e00;
  color: #fff;
}

ul.drop-down-menu li:hover > a {
  /* 滑鼠移入次選單上層按鈕保持變色*/
  background-color: #9da4a9;
  color: #fff;
}

ul.drop-down-menu ul {
  border: #ccc 1px solid;
  position: absolute;
  z-index: 99;
  left: -1px;
  top: 100%;
  min-width: 180px;

}

ul.drop-down-menu ul li {
  border-bottom: #ccc 1px solid;
}

ul.drop-down-menu ul li:last-child {
  border-bottom: none;
}

ul.drop-down-menu ul ul {
  /*第三層以後的選單出現位置與第二層不同*/
  z-index: 999;
  top: 10px;
  left: 90%;
}

ul.drop-down-menu ul {
  /*隱藏次選單*/
  /*left: 9999px;*/
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

ul.drop-down-menu li:hover > ul {
  /* 滑鼠滑入展開次選單*/
  opacity: 1;
  pointer-events: auto;    
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  left: -1px;
  border-right: 5px;
}

ul.drop-down-menu li:hover > ul ul {
  /* 滑鼠滑入之後、次選單之後的選單依舊隱藏*/
  
  left: 99999px;
}

ul.drop-down-menu ul li:hover > ul {
  /* 第二層之後的選單展開位置*/
  left: 90%;
}
.logo img {
  padding-left: 16px;
  max-height: 50px;
}



.main-content {
  display: flex;
  /*border: #1100ff 5px solid;*/
  height: 100%;
  
}

.left-sidebar {
  flex: 1;
  padding: 5px 20px;
  color:#3366cc;
  /*border: #00d9ff 5px solid;*/
  overflow-y: auto; 
}

.left-sidebar ul{
  cursor: pointer;
  margin: 0;
  list-style: none;
}
.accordion-item summary {

  width: fit-content;
  direction: rtl;
  cursor: pointer;
}


.accordion {
  display: flex;
  flex-direction: column;
  /*border: #00ff2f 5px solid;*/
  padding-left:50px ;
  
  position: sticky;
  top:70px;
}

.accordion-item-summary {
  padding: 5px;

}

.accordion-item-content {
  padding: 0px 5px;

}
.accordion-item-content ul{
  padding: 0px 15px;
}
.accordion-item-content li{
  margin: 4px 0;
  line-height: 25px;
}

.right-content {
  flex: 4;
  padding: 65px 20px 20px;
  /*border: #ff1e00 5px solid;*/
  overflow:scroll;
  
}

.article {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*border: #cc00ff 5px solid;*/
}

.article-content {
  flex: 5;
  padding-right: 16px;
  /*border: #ff5500 5px solid;*/
}

.cont{
display: flex;
/*justify-content:left;*/
column-gap: 12px;
align-items: center;
}
.cont .colp{
  width: 250px;
  height: 320px;
 text-align: center;
}
.cont .col{
  width: 250px;
  height: 400px;
 text-align: center;
}

.cont video{width: 90%; height: 350px;}
.cont img{width: 80%; height:400px;}








.right-content h1 {
  max-width: 900px;

  font-size: 36px;
  border-bottom: 1px solid rgb(0, 38, 135);
  margin-bottom: 10px;
}
.right-content h2 {
  font-size: 24px;
  border-bottom: 1px solid rgb(0, 38, 135);
  margin-bottom: 10px;
}
.right-content h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.right-content h4 {

  font-size: 16px;
  margin-bottom: 5px;
}

.right-content p {
  font-size: 16px;
  line-height: 1.5;
}

.right-content img {
  max-width: 100%;
  height: auto;
}

.article-image {
  flex: 2;
 
  /*border: #00c8ff 5px solid;*/
}
.article-image img{
  vertical-align:middle;
 
  /*border: #00c8ff 5px solid;*/
}
/*
.article-image p{

text-align: center;

}


.fact-sheet {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid rgb(0, 38, 135);
}

.fact-sheet h3 {
  font-size: 18px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  padding: 5px 10px;
}

.fact-sheet ul {
  list-style-type: disc;
  padding-left: 20px;
}
*/




footer {
  height: 350px;
  background-color: #ecfdfb;

  text-align: center;
  padding: 10px;
}

